.node {
  width: 30px;
  height: 30px;
  outline: 1px solid #d9d9d9;
  display: inline-block;
  margin-top: -2.5px;
  /* margin-bottom: -1.5px; */
}

.node-wall {
  background-color: #999999;
  transition: all ease-in 0.1s;
}

.visited {
  background-color: #1dd3bd;
  transition: all ease-in 0.5s;
}

.path {
  background-color: #ffd31d;
  transition: all ease 0.2s;
}

.icon {
  margin-left: 3px;
  margin-top: 3px;
  transition: all ease-in 0.5s;
}

.icon-container {
  position: absolute;
  transition: all ease-in-out 0.5s;
}
